numpy==1.26.4
opencv-python==4.10.0.84
onnxruntime==1.19.1
onnxruntime-gpu==1.19.0
torch==2.5.1
torchvision==0.20.1
insightface==0.7.3
fastapi==0.115.4
uvicorn==0.32.0
python-multipart==0.0.17
scikit-learn==1.5.2
opencv-python-headless==4.10.0.84
networkx==3.4.2
matplotlib==3.9.2
seaborn==0.13.2